#titleBox
{
    -fx-background-color: #2d2d2d;
    -fx-font-weight: bold;
}
#titleLabel
{
    -fx-font-size: 50pt;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
#buttonDockBox
{
    -fx-background-color: #2d2d2d;
}
#content
{
    -fx-background-color: #383838;
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
#inputText, #md5Text, #sha1Text, #sha256Text, #sha512Text
{
    -fx-text-fill: #ffffff;
}
.button
{
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 20;
}
.button:pressed
{
    -fx-text-fill: #1c1c1c;
}
.text-field
{
    -fx-font-size: 9pt;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-radius: 20;
}
.label
{
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}